<% layout("/layouts/boilerplate") %>
<style>
    table {
    /* border-collapse: collapse;  */
    border: 2px solid black;
    margin: 0 auto;
    width: 80%;
    margin: 20px auto 20px auto;
}
th, td {
    padding: 10px;
    border: 1px solid black; 
}
</style>
<body>
    <h2 class="products-heading"><img src="/images/transparent-law-icon-auction-icon-banking-icon-5fd1420f558e49.3815937816075494553504.png" alt="logo" width="35" height="35" alt="logo">Check all orders...</h2>
    <hr>
    <% if(allOrders.length !=0){ %>
    <table>
        <tr>
            <th>S.no</th>
            <th>Order by</th>
            <th>Bid on</th>
            <th>Amount</th>
            <th>Email</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

        <% for(let order of allOrders){ %>
            <tr>
                <td><%= allOrders.indexOf(order)+1%></td>
                <td><%= order.orderby.username %></td>
                <td><%= order.orderon.title %></td>
                <td>&#8377;<%= order.amount.toLocaleString("en-IN") %></td>
                <td><%= order.orderby.email %></td>
                <td><%= order.createdAt.toString().split(" ").slice(1,4).join("-") %></td>
                <td><%= order.createdAt.toString().split(" ")[4] %></td>
            </tr>
        <% } %>
    </table>
    <% }else{ %>
        <h3>No orders yet</h3>
        <br><br><br><br><br><br><br><br>
    <% } %>
</body>